/* input id */
#idClient {
    display: none;
}
 
#idSupplier{
    display: none;
}
 
/*#idProduct {
    display: none;
}*/
 
/* botões */
 
.button img {
    margin: 50px 15px 25px 15px;
    padding: 5px;
    border: 1px solid #E8E8E8;
    cursor: pointer;
}
 
/* Botão reset */
#btnReset {
    width: 50px;
    height: 45px;
    background-image: url('../img/clear.png');
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 5px;
}
 
 
/* rodapé */
footer {
    background-color: #007acc;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}
 
footer p {
    color: #FFFFFF;
    margin: 0px 0px 0px 10px;
}
 
footer img {
    margin-right: 10px;
}
 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
/* Imagem do produto */
#imageProductPreview {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    width: 240px;
    height: 240px;
    padding: 5px;
    position: absolute;
    top: 55.5vh;
    left: 43.5vw;
    display: block;
    object-fit: contain;
}
 
#productimgview {
    width: 30%;
    height: auto;
}

.campo-invalido:focus {
    outline: 2px solid red; /* Cor do foco vermelha */
    outline-offset: 2px; /* Espaçamento opcional */
}

.campo-invalido-foco:focus {
    outline: 2px solid red; /* Mantém o foco vermelho */
}